* {
  padding: 0;
  margin: 0;
}
/* maybe finish later!!
.menu-section {
  height: 50px;
  border: 1px solid red;
}

.menu a {
  text-decoration: none;
  list-style-type: none;
  float: right;
}
*/
/*
font-family: 'Bebas Neue', cursive;
font-family: 'Roboto', sans-serif;
*/
/*top-section 01*/
.top-section {
  height: 1040px;
  border: 1px solid yellow;
}
.half-width {
  width: 40%;
  float: left;
  margin-left: 70px;
  padding: 5px;
}
.half-width h1 {
  font-family: "Bebas Neue", cursive;
  color: #363958;
  margin-top: 50px;
  font-size: 80px;
  font-weight: 500;
  line-height: 73px;
}

.half-width p {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #3e3e3e;
  font-weight: 500;
  margin-bottom: 24px;
}
.half-width img {
  width: 80%;
}
.text-highlight {
  color: #ff8367;
}
.hireMeButton {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-size: 17px;
  font-weight: 500;
  color: white;
  background-image: linear-gradient(90deg, #ff8367, #f8a29f);
  padding: 13px 30px;
  border-radius: 5px;
}
/*top-section 01*/
/*top-section 02*/
.half-width h2 {
  font-family: "Bebas Neue", cursive;
  color: #363958;
  font-size: 50px;
  margin-top: 70px;
}
.yt-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  text-decoration: none;
  font-size: 17px;
  color: white;
  background-image: linear-gradient(90deg, #ff8367, #f8a29f);
  padding: 13px 30px;
  border-radius: 5px;
}
/*top-section 02*/

/*Middle-section */
.middle-section {
  border: 1px solid red;
  height: 700px;
  background-color: #dfdfdf;
}
.mid-header {
  border: 1px solid green;
  text-align: center;
  height: 70px;
  font-size: 43px;
  font-weight: 100;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 1px;
}
.third-width {
  background-color: #fff;
  border-radius: 24px;
  width: 24%;
  height: 350px;
  float: left;
  margin-top: 40px;
  margin-left: 70px;
  padding: 11px;
  border: 1px solid pink;
  font-family: "Roboto", sans-serif;
}
.box {
  box-shadow: 1px 1px 10px 3px dfdfdf;
 
}
.third-width img {
  width: 100%;
  margin-bottom: 15px;
}
.third-width a {
  text-decoration: none;
  color: #363958;
  font-size: 22px;
  font-weight: bolder;
  margin-bottom: 10px;
}
.third-width p {
  margin-top: 10px;
  font-size: 16px;
}
